<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= habit.title %></div>
    <div>Start Date: </div>
    <div><%= habit.startDate %></div>
    <div>Target Date: </div>
    <div><%= habit.targetDate %></div>
    <div>Progress: </div>
    <div><%= habit.progress %></div>


<%- include('../partials/footer') %>

